* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  background-color: #94d685;
  display: grid;
  gap: 1rem;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-columns: 400px 200px auto; */
  /* grid-template-columns: 1fr 3fr 1fr; */
  /* grid-template-columns: 4fr 4fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 1fr 2fr 3fr; */
  grid-template-columns: repeat(4, 1fr);

  /* grid-template: 1fr 2fr / auto auto; */

  /* grid-template-rows: 100px 100px; */
  /* height: 100vh; */
  /* grid-template-rows: 1fr 1fr 100px; */
  /* grid-template-rows: 1fr 2fr 3fr; */
}
.grid-container > div {
  background-color: teal;
  /* border: 3px solid black; */
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.grid-container > .item-1 {
  /* order: 1;
  background-color: red; */
  grid-column-start: 2;
  grid-column-end: 5;
  /* grid-column: 2 / 5; */
  /* grid-row: 3; */
}
.grid-container > .item-2 {
  /* grid-row: 2 / 5; */
}
.grid-container > .item-6 {
  /* order: -1;
  background-color: red; */
  /* grid-column: 1 / 4; */
  /* grid-column: span 2; */
  grid-column: 1 / span 2;
  grid-row: 2;
}
