* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #banner {
  height: 100vh;
  background-color: red;
  background-image: url("./images/beautiful-view-greenery-bridge-forest-perfect-background.avif");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  background-attachment: fixed;
} */
#banner {
  height: 100vh;
  /* background-color: red; */
  /* background-image: url("./images/beautiful-view-greenery-bridge-forest-perfect-background.avif"); */
  /* background-repeat: no-repeat; */
  /* background-position: right bottom; */
  /* background-position: center center; */
  /* background-size: contain; */
  /* background-size: cover; */
  /* background-attachment: fixed; */

  background: url("./images/beautiful-view-greenery-bridge-forest-perfect-background.avif")
    no-repeat center center;
  background-size: cover;
}

#contact {
  height: 100vh;
  background-color: teal;
}
